/*
/* ---------------------------------
1. 
--------------------------------- */

html{ font-size: 100%; height: 100%;  overflow-x: hidden; touch-action: manipulation; }

body{ font-size: 15px; font-family: 'Roboto', sans-serif; width: 100%; height: 100%; margin: 0; font-weight: 400;
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; word-wrap: break-word; 
	color: #000; }

h1, h2, h3, h4, h5, h6, p, a, ul, span, li, img, input, button{ margin: 0; padding: 0; }

h1,h2,h3,h4,h5,h6{ line-height: 1.5; font-weight: inherit; }

p{ line-height: 1.6; font-size: 1.05em; font-family: 'Maven Pro', sans-serif; font-weight: 400; color: #555; }

h1{ font-size: 4em; line-height: 1; }
h2{ font-size: 2.8em; line-height: 1.1; }
h3{ font-size: 1.8em; }
h4{ font-size: 1.5em; }
h5{ font-size: 1.2em; }
h6{ font-size: .9em; letter-spacing: 1px; }

a, button{ display: inline-block; text-decoration: none; color: inherit; transition: all .3s; }

a:focus, a:active, a:hover,
button:focus, button:active, button:hover,
a b.light-color:hover{ text-decoration: none; color: #ffffff; }

b{ font-weight: 500; }

img{ width: 100%; }

li{ list-style: none; display: inline-block; }

span{ display: inline-block; }

button{ outline: 0; border: 0; background: none; cursor: pointer; }

b.light-color{ color: #444; }

.section{ padding: 70px 0 40px; }

.section .heading{ padding-bottom: 70px; }

.center-text{ text-align: center; } 

.color-white{ color: #fff; }

.display-table{ display: table; height: 100%; width: 100%; }

.display-table-cell{ display: table-cell; vertical-align: middle; }

.card{ background: transparent; border: 0; }

.no-side-padding{ padding-right: 0px; padding-left: 0px; }

.no-left-padding{ padding-left: 0px; }

.no-right-padding{ padding-right: 0px; }

.icon{ font-size: 2em; }


.left-area{ float: left;  }

.right-area{ float: right;  }

.width-60{ width:60%; }

.width-50{ width: 50%; }


::-webkit-input-placeholder { font-size: .9em; letter-spacing: 1px; }

::-moz-placeholder { font-size: .9em; letter-spacing: 1px; }

:-ms-input-placeholder { font-size: .9em; letter-spacing: 1px;  }

:-moz-placeholder { font-size: .9em; letter-spacing: 1px;  }


header{ position: fixed; left: 0; right: 0; top: 0; z-index: 1000; font-size: .95em; 
	box-shadow: 0px 2px 10px rgba(0,0,0, .3); background: #e1e1e1; }

header .bottom-area{ text-align: center;}

header .main-menu{ font-weight: 500; color: black}

header .main-menu > li > a{ height: 60px; line-height: 60px; padding: 0 25px; }

header .main-menu > li > a:hover{ background: #7cbafd; }


header .visible.main-menu{ display: block; }

.menu-nav-icon{ display: none; height: 60px; width: 50px; text-align: center; line-height: 60px; cursor: pointer; 
	font-size: 1.8em; }

.main-slider{ margin-top: 265px; position: relative; height: calc(100vh - 265px); min-height: 550px;
	width: 100%; overflow: hidden; }  
 
.main-slider .slider-content{ padding: 25px 60px 25px 40px!important; border-radius: 3px!important;
	background: rgba(0,0,0,.6); color: #fff; }

.slider-content .btn{ padding: 7px 15px; }

.slider-content .title{ margin: 10px 0 0; letter-spacing: 3px; }

#slider{ height: 100%; width: 100%; }
 
.main-slider .ls-nav-prev,
.main-slider .ls-nav-next{ display: block!important; opacity: 1!important; }

.sidebar-section{ margin-bottom: 50px; }

.sidebar-section .title{ margin-bottom: 30px; }

.sidebar-area img{ max-width: 600px; }


.about-author{ margin-top: 30px; padding: 0 30px 30px; box-shadow: 0px 10px 40px rgba(0,0,0,.2); }

.about-author .author-image{ max-width: 150px; margin: 0px auto 20px; transform: translateY(-30px); 
	border-radius: 3px; overflow: hidden; box-shadow: 0px 0px 30px rgba(0,0,0,.1); }

.about-author .social-icons > li{ margin: 0 10px; color: #888; font-size: 1.05em; }

.about-author .author-name{ margin: 20px 0; }

.about-author .signature-image{ margin: 20px auto 0; max-width: 120px; }

.about-author .read-more-link{ margin: 20px 0; font-size: .9em; letter-spacing: 2px; position: relative; 
	overflow: hidden; color: #FFAD4D; }

.about-author .read-more-link:after{ content:''; position: absolute; bottom: 0px; left: 0; right: 0; 
	height: 1px; transition: all .2s; background: #FFAD4D; }

.about-author .read-more-link:hover:after{ transform: translateX(100%); }

.newsletter-area{ padding: 30px; background :#29333C; }

.newsletter-area .title{ margin: 0; color: #fff; }

.newsletter-area .email-input{ width: 100%; margin: 15px 0; border: 0; padding: 10px 20px; background: #fff; }


/* ADVERTISEMENT AREA */

.advertisement-img{ position: relative; }

.advertisement-img .discover-btn{ position: absolute; bottom: 30px; padding: 15px 0; width: 200px; 
	left: 50%; margin-left: -100px; border-color: #fff; color: #fff; }

.advertisement-img .discover-btn:hover{ border-color: #FFAD4D; }


/* INSTAGRAM */
	
.instagram-area{ overflow: hidden; }

.instagram-area .instagram-img > li{ width: 30%; float: left; margin: 0 5px 5px 0; }

	
/* TAGS */

.tags-area .tags{ overflow: hidden; }

.tags-area .tags > li{ float: left; margin: 0 5px 5px 0; }

.tags-area .tags > li > a{ padding: 10px 15px; }


/* ---------------------------------
7. FOOTER INSTAGRAM STYLING 
--------------------------------- */

.footer-instagram-area{ overflow: hidden; border-top: 1px solid #ccc; }

.footer-instagram-area .title{ padding: 20px 0; }

.footer-instagram-area ul.instagram > li{ float: left; width: 14.285%; }

footer{ background: #29333C; color: #ddd;  }

footer .footer-section{ margin: 30px 0; }

footer .copyright{ color: #ddd;  }

footer .social-icons{ text-align: right; }

footer .social-icons > li > a{ padding-left: 15px; }

#Name {	
	float: left;
	top: 5px;
	left: 20px;
	height: 50px;
	width: 400px;
}

#PersonalInformation {
	display:block;
	padding-bottom: 10px;
}

#PersonalInformation > #PersonalGrid {
	display:grid;
	grid-template-columns: 1.5fr 1fr;
}

#PersonalInformation > #PersonalGrid > .Profile > .about {
	display:grid;
	grid-template-rows: 1fr 1.5fr;
}

#PersonalInformation > #PersonalGrid > .Profile:nth-child(2){
	padding: 50px;
}

#PersonalInformation > #PersonalGrid > .Profile > img {
	position: relative;
	border: 6px solid #a4d300 ;
	top: 20px;
	border-radius: 50%;
	top: calc(50% - 200px);
	transform: translateY(-50%);
	float: right;
}

#PersonalInformation > #PersonalGrid > .Profile > .about > p {
	font-family: "Maven Pro", sans-serif;
	font-size 	: 20pt;
	color: #000053;
	text-align: justify;
	position: relative;
	padding-top: 50px;
	margin-left: 20px; 
	top: calc(50% - 50px);
	transform: translateY(-50%);
}

header + div {
	position: relative;
	top: 65px;
}

#Projects {
	display:block;
	background-color: #7cbffe;

}

#Projects > img{
	padding: 50px;
}

#Projects > #ProjectsGrid {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#Projects > #ProjectsGrid > .logo:nth-child(1){
	padding: 50px;
}

#Projects > #ProjectsGrid > .logo:nth-child(2){
	padding: 50px;
}

#Projects > #ProjectsGrid > .logo:nth-child(3){
	padding: 50px;
}

#Projects > #ProjectsGrid > .logo > img {
	border: 6px solid #4c4c4c ;
	border-radius: 50%;
}

#ILike {
	display: block;
	background-color: grey;
}

#ILike > #ILikeGrid{
	display: grid;
	grid-template-rows: 1fr;
}

#ILike > #ILikeGrid > #TXONEVideo{
	display: grid;
	grid-template-columns: 1.5fr 1fr;
}

#ILike > #ILikeGrid > #TXONEVideo > #videoT {
	margin-top: 40px;
	margin-left: 100px;
	align-content: center;
}

#ILike > #ILikeGrid > #TXONEVideo > #logoTX {
	margin-right: 150px;
}

#ILike > #ILikeGrid > #TXONEVideo > #logoTX > img {
	border: 6px solid white ;
	top: 20px;
	border-radius: 50%;
	margin-right: 20px;
}

#ILike > #ILikeGrid > #TXONEVideo:nth-child(2){
	padding: 35px;
}

#ILike > #ILikeGrid > #musicL{
	width: auto;
	height: 50%;
}

#ILike > #ILikeGrid > #dance {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
}

#ILike > #ILikeGrid > #dance > .wordsdance > p{
	
	font-family: "Maven Pro", sans-serif;
	text-align: justify;
	position: relative;
}

#ILike > #ILikeGrid > #dance > .imagedance > img{
	padding: 50px;
}

#ILike > #ILikeGrid > #dance > .nocontrol > img{
	padding: 50px;
	width: 50px;
	height: 50px;
}

#Training {
	display: block;
	background-color: darkgrey;
}

#Training > #TrainingGrid {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}

#Training > #TrainingGrid > .GridRightImage {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
}

#Training > #TrainingGrid > .GridLeftImage {
	display: grid;
	grid-template-columns: 1fr 1.5fr;
}

#Training > #TrainingGrid > .GridRightImage > .image > img{
	float: right;
	position: relative;
	border: 6px solid white ;
	top: 20px;
	bottom: 5px;
	border-radius: 50%;
	width: 400px;
	height: 400px;
	right: 20px;
}

#Training > #TrainingGrid > .GridLeftImage > .image > img{
	float: left;
	position: relative;
	border: 6px solid white ;
	border-radius: 50%;
	top:5px;
	width: 400px;
	height: 400px;
	left: 20px;
}

#Training > #TrainingGrid > .GridLeftImage > .words {
	margin-top: 20px; 
}

#Experience {
	display: block;
	background-color: #a4d300;
}

#Experience > .col-lg-4 > .panel-title {
    color: #33353f;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    padding: 0;
    text-transform: none;
}

.mt-lg {
    margin-top: 20px!important;
}

text[Attributes Style] {
	fill: #8c8c8c;
	stroke: #8c8c8c ;
}

#Experience > #ExperienceGrid {
	display:grid;
	grid-template-rows: 1fr 1fr 1fr;
}

#Experience > #ExperienceGrid > #ExperienceTop{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#Experience > #ExperienceGrid > #ExperienceTop:nth-child(1){
	padding: 35px;
}

#Experience > #ExperienceGrid > #ExperienceTop:nth-child(2){
	padding: 35px;
}

#Experience > #ExperienceGrid > #ExperienceTop:nth-child(3){
	padding: 35px;
}

#Experience > #ExperienceGrid > #ExperienceMiddle{
	display:grid;
	grid-template-columns: 1fr 1fr;
}

#Experience > #ExperienceGrid > #ExperienceMiddle:nth-child(1){
	padding: 35px;
}

#Experience > #ExperienceGrid > #ExperienceMiddle:nth-child(2){
	padding: 35px;
}

#Experience > #ExperienceGrid > #ExperienceMiddle path[Attributes Style] {
	fill: #8c8c8c;
	mask: url(#CSS);
	stroke: #33bbff;
	d:path("M 0 100.4 C 113.4 100.4 150.4 130.4 250 400.4 L 220 320 L 0 220 Z")
}

#Experience > #ExperienceGrid > #ExperienceMiddle path[Attributes Style] {
	fill: #8c8c8c;
	mask: url(#ANGULAR);
	stroke: #33bbff;
	d:path("M 0 300.4 C 113.4 100.4 150.4 130.4 250 400.4 L 220 320 L 0 220 Z")
}

#Experience > #ExperienceGrid > #ExperienceBottom{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#Experience > #ExperienceGrid > #ExperienceBottom:nth-child(1){
	padding: 35px;
}

#Experience > #ExperienceGrid > #ExperienceBottom:nth-child(2){
	padding: 35px;
}

#Experience > #ExperienceGrid > #ExperienceBottom:nth-child(3){
	padding: 35px;
}

#Experience > img {
	padding: 100px;
}

/* Liquid Meter */
.liquid-meter-wrapper .liquid-meter-selector a.active {
	color: #8c8c8c;
}

.liquid-meter {
	position: relative;
	max-height: 200px;
	max-width: 200px;
	margin: 0 auto;
	width: 100%;
	padding-bottom: 50%;

	meter {
		display: none;
	}

	&.liquid-meter-loaded {
		width: auto;
		padding-bottom: 0;

		&:before {
			display: none;
		}
	}
}

#Contact {
	background-color: black;
}

#Contact > .top-menu{ width: 100%; height: 45px; line-height: 45px; overflow: hidden; font-size: .95em; font-style: "Maven Pro", sans-serif;; }


#Contact > .top-menu ul.welcome-area{ padding-left: 20px; }

#Contact > .top-menu ul.welcome-area > li{ margin: 0 15px; padding: 0 15px; border-left: 1px solid #3b3b3b; color: #ffffff }


#Contact > .top-menu ul > li:first-child{ border-left: 0; }

#Contact > .top-menu ul.social-icons{ display: inline-block; padding: 0 35px; color: #ffffff; font-family: "Maven Pro", sans-serif;}

#Contact > .top-menu ul.social-icons > li > a{ padding: 0 15px; font-family: "Maven Pro", sans-serif;}

#Contact > .top-menu ul.social-icons > li.contactInformation { display: inline-block; padding: 0 35px; color: #ffffff; font-family: "Maven Pro", sans-serif;}